<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server-Side Rendering Home Page</title>
    <!-- Add the link to the external font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
    <style>
        body {
            font-family: 'Roboto', 'Arial', sans-serif;
            background-color: #f5f5f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #4285f4;
            font-weight: bold;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            color: #333;
        }

        input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        button {
            background-color: #4285f4;
            color: #fff;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #4285f4;
            color: #fff;
        }

        a {
            color: #4285f4;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <h1>URL Shortener</h1>

    <div class="container">
        <form action="/url" method="POST">
            <label for="urlInput">URL:</label>
            <input type="text" name="url" id="urlInput" placeholder="http://example.com">
            <button type="submit">Submit</button>
        </form>

        <% if (locals.shortURL) { %>
            <p style="color: #4caf50;">URL generated: <a href="http://localhost:8001/url/<%= shortURL %>"
                    target="_blank">http://localhost:8001/url/<%= shortURL %></a></p>
            <% } %>

                <% if (locals.url) { %>
                    <table>
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Short ID</th>
                                <th>Redirect</th>
                                <th>Click</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% url.forEach((element, index)=> { %>
                                <tr>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <%= element.shortID %>
                                    </td>
                                    <td>
                                        <%= element.redirectURL %>
                                    </td>
                                    <td>
                                        <%= element.visitHistory.length %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <% } %>
    </div>

</body>

</html>